<h1> Bem-vindo <%= @participant.nome %></h1><%= link_to('Logout', destroy_participant_session_path, :method => :delete) %> 
<h2>Atividades</h2>
<table style="width: 100%;">
	<tr>
		<th style="width: 50%;">Inscrito</th>
		<th style="width: 50%;">Presente</th>
	</tr>
	<tr>
		<td valign="top" style="width: 50%;">
			<ul>
				<% @participant.subscriptions.where(esta_ativo: true).each do |s| %>
					<li><%= s.activity.titulo %><br>
						<% if s.activity.subscriable? %>
							<% if s.activity.subscribed?(@participant) %>
								<% if s.esta_ativo %>
									<%= link_to 'Desinscrever-se', activity_subscription_path(s.activity, s),
										method: :delete,
										data: {confirm: 'Tem certeza?'} %>
								<% else %>
									<%= link_to 'Inscrever-se', activity_subscription_path(s.activity, s),
										method: :patch %>
								<% end %>
							<% else %>
								<%= link_to 'Inscrever-se', activity_subscriptions_path(s.activity),
											method: :post %>
							<% end %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</td>
		<td valign="top" style="width: 50%;">
			<ul>
				<% @participant.presences.each do |p| %>
					<li>
						<%= p.activity.titulo %>
						<% if not(p.activity.gave_feedback?(@participant)) %>
							<br><%= link_to 'Dar feedback', new_activity_feedback_path(p.activity) %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</td>
	</tr>
</table>
<br>
<h2>Cronograma</h2>
<table style="width: 100%;">
	<tr>
		<th valign="top" style="width: 20%;">Segunda</th>
		<th valign="top" style="width: 20%;">Terça</th>
		<th valign="top" style="width: 20%;">Quarta</th>
		<th valign="top" style="width: 20%;">Quinta</th>
		<th valign="top" style="width: 20%;">Sexta</th>
	</tr>
	<tr>
		<% @activities.each do |activities_in_day| %>
			<td valign="top" style="width: 20%;">
				<ul>
					<%  activities_in_day.each do |activity| %>
						<li>
							<b><%= activity.titulo %></b><br>
							<p><%= activity.descricao %></p><br>
							<ul>
								<% activity.speakers.each do |speaker| %>
									<li><%= speaker.nome %></li>
								<% end %>
							</ul>
							<% if activity.subscriable? %>
								<% if activity.subscribed?(@participant) %>
									<% subscription = activity.subscriptions.where(participant: @participant).first %>
									<% if subscription.esta_ativo %>
										<%= link_to 'Desinscrever-se', activity_subscription_path(activity, subscription),
											method: :delete,
											data: {confirm: 'Tem certeza?'} %>
									<% else %>
										<%= link_to 'Inscrever-se', activity_subscription_path(activity, subscription),
											method: :patch %>
									<% end %>
								<% else %>
									<%= link_to 'Inscrever-se', activity_subscriptions_path(activity),
												method: :post %>
								<% end %>
							<% end %>
						</li>
					<% end %>
				</ul>
			</td>
		<% end %>
	</tr>
</table>