<h1>Bem-vindo à SEnEC 2016</h1>
<p>Logar-se como:</p>
<ul>
	<li><%= link_to "Participante", :new_participant_session %></li>
	<li><%= link_to "Organizador", :new_organizer_session %></li>
	<li><%= link_to "Parceiro", :new_partner_session %></li>
</ul>
<p>Registrar-se como:</p>
<ul>
	<li><%= link_to "Participante", :new_participant_registration %></l1>
	<li><%= link_to "Organizador", :new_organizer_registration %></li>
</ul>
